.dropdown {
  position: relative;

  @media (max-width: 1024px) {
    margin-left: auto;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.select {
  overflow: hidden;
  background: #2f80ed;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  padding: 1rem 1.5rem;
  text-transform: uppercase;

  gap: 0.75rem;
  cursor: pointer;

  span {
    position: relative;
    display: inline-block;
    transition: transform 0.3s;
  }

  &:hover span,
  &:focus span {
    transform: translateY(-100%);
  }

  @media (max-width: 1440px) {
    padding: 1rem 1.25rem;
  }
}

.menu {
  display: none;
}
